body {
    background-image: url(images/cardboard.jpg);
    color: black;
    width: auto;
    height: auto;
}

#container {
    margin-left: 200px;
    margin-right: 200px;
}

.header {
    margin: 50px 0 50px 0;
}

.header h1 {
    margin: 2.5% 10% 2.5% 10%;
    font-family: Impact, fantasy;
    font-stretch: ultra-expanded;
    font-size: 40px;
    opacity: 0.6;
    text-align: justify;
    padding-left: auto;
    padding-right: auto;
}


/*==== CONTENU HOME ====*/

#home {
    background-color: white;
    border-radius: 0 0 15px 15px;
}

#home h1 {
    float: left;
    font-family: Impact, fantasy;
    font-stretch: ultra-expanded;
    font-size: 60px;
    text-align: justify;
    padding: 40px 0 0 15px;
}

#home h2 {
    clear: left;
    font-family: Impact, fantasy;
    font-stretch: ultra-expanded;
    font-size: 60px;
    text-align: justify;
    padding: 0 0 0 15px;
}

#home h3 {
    font-family: Impact, fantasy;
    font-stretch: ultra-expanded;
    font-size: 20px;
    text-align: justify;
    padding: 0 0 50px 15px;
    color: darkgrey;
}

#home img {
    float: right;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 0 100px 100px 100px;
}


/*==== CONTENU PROFILE ====*/

#profile {
    background-color: white;
    border-radius: 0 0 15px 15px;
}

#profile p {
    padding: 40px 0 0 10px;
    font-family: Georgia, serif;
}

#profile img {
    float: right;
    width: 300px;
    height: 325px;
    padding: 10px;
    border-radius: 30px;
}


/*==== Skills ====*/

#skills {
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding: 40px 15px 15px 15px;
}

.section {
    margin-bottom: 70px;
    text-align: justify;
}

.section h2 {
    font-size: 28px;
    color: #dc3545;
    text-transform: uppercase;
    border-bottom: 3px solid #dc3545;
}


.sec-gauche {
    float: left;
    font-weight: bold;
    font-size: 20px;
}

.duree {
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}

.sec-droite {
    margin-left: 150px;
}


/*==== Portfolio ====*/

#portfolio {
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding: 40px 15px 15px 15px;
}

/*==== Contact ====*/

#contact {
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding: 40px 0 0 10px;
}

#contact img {
    width: 200px;
    height: 200px;
    float: right;
    padding: 40px 40px 0 0;
}

.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}

.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}

.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}

.form-style-1 .field-select{
    width: 100%;
}

.form-style-1 .field-textarea{
    height: 100px;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: gray;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: darkgray;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.form-style-1 .required{
    color:red;
}

/*==== FOOTER ====*/

.footer {
    margin: 50px 0 50px 0;
}

